{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact</h1>

<p>If you have found a bug or need support, please open a new ticket on the <a href="https://github.com/chrisballinger/Off-the-Record-iOS/issues">Github Issues</a> page. If you think you have found a security vulnerability please <a href="mailto:chris@chatsecure.org">send us an email</a> directly.</p>

<p>We now have a <a href="https://groups.google.com/forum/#!forum/chatsecure">Google Group</a> for public discussion about the app.</p>



{% endblock %}