{% extends "base.html" %}
{% block title %}Contribute to ChatSecure{% endblock %}
{% block content %}
<h1>Contribute</h1>

<p>There are many ways to contribute to the project.</p>

<h2>Donate</h2>

<p>This project is <strong>*100% free*</strong> because it is important that all people around the world have unrestricted access to privacy tools. However, developing and supporting this project is hard work and costs real money. Please help support the development of this project!</p>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EBAD4T4W66GE2"><img src="{{STATIC_URL}}images/paypal_donate.png"></a></p>

<h2>Translate</h2>

<p>If you would like to contribute/improve a translation:</p>

<ol>
<li>Visit our <a href="https://www.transifex.net/projects/p/chatsecure/">Transifex project page</a> and make an account if you don't have one already.</li>
<li>Go to the resources subsites <a href="https://www.transifex.net/projects/p/chatsecure/resource/appstorestrings/">AppStore.strings</a> &amp; <a href="https://www.transifex.net/projects/p/chatsecure/resource/strings/">Localizable.strings</a> to add a new language or improve an existing translation. </li>
<li>
<a href="https://github.com/chrisballinger/Off-the-Record-iOS/issues">Open an issue on Github</a> notifying us of your translation.</li>

<h2>Develop</h2>

<p>Check out the <a href="https://github.com/chrisballinger/Off-the-Record-iOS">source code</a>:</p>
<code>$ git clone git://github.com/chrisballinger/Off-the-Record-iOS.git</code>

{% endblock %}